In [1]:
import pandas as pd

In [2]:
pd.set_option('future.no_silent_downcasting', True)

In [3]:
dates_df = pd.read_csv('../data/store-sales-time-series/train.csv', usecols=['date'], parse_dates=['date'])
dates_df = dates_df.drop_duplicates()
dates_df = dates_df.sort_values(by=['date'])
dates_df = dates_df.reset_index(drop=True)
dates_df

           date
0    2013-01-01
1    2013-01-02
2    2013-01-03
3    2013-01-04
4    2013-01-05
...         ...
1679 2017-08-11
1680 2017-08-12
1681 2017-08-13
1682 2017-08-14
1683 2017-08-15

[1684 rows x 1 columns]

In [4]:
min_date = dates_df['date'].min()
max_date = dates_df['date'].max()
date_range = pd.date_range(start=min_date, end=max_date)
dates_df = pd.DataFrame(date_range, columns=['date'])
dates_df

           date
0    2013-01-01
1    2013-01-02
2    2013-01-03
3    2013-01-04
4    2013-01-05
...         ...
1683 2017-08-11
1684 2017-08-12
1685 2017-08-13
1686 2017-08-14
1687 2017-08-15

[1688 rows x 1 columns]

In [5]:
earthquake_df = pd.DataFrame()
earthquake_df['is_earthquake'] = dates_df['date'] == pd.to_datetime('2016-04-16')
earthquake_df

      is_earthquake
0             False
1             False
2             False
3             False
4             False
...             ...
1683          False
1684          False
1685          False
1686          False
1687          False

[1688 rows x 1 columns]

In [6]:
for i in range(1, 31):
    earthquake_df[f'is_earthquake_{i}'] = earthquake_df['is_earthquake'].shift(i)
earthquake_df.fillna(False, inplace=True)
earthquake_df

,is_earthquake,is_earthquake_1,is_earthquake_2,is_earthquake_3,is_earthquake_4,is_earthquake_5,is_earthquake_6,is_earthquake_7,is_earthquake_8,is_earthquake_9,...,is_earthquake_21,is_earthquake_22,is_earthquake_23,is_earthquake_24,is_earthquake_25,is_earthquake_26,is_earthquake_27,is_earthquake_28,is_earthquake_29,is_earthquake_30
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1684,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1685,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1686,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1687,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
earthquake_df.to_csv('../data/processed/earthquake.csv', index=False)