In [13]:
import pandas as pd

from utils_datetime.timestamp_dates import timestamp_dates

In [14]:
train_df = pd.read_csv('../data/store-sales-time-series/train.csv', index_col='id')
train_df = train_df[['date', 'store_nbr', 'family', 'onpromotion', 'sales']]
train_df['date'] = pd.to_datetime(train_df['date'])
train_df.head()

         date  store_nbr      family  onpromotion  sales
id
0  2013-01-01          1  AUTOMOTIVE            0    0.0
1  2013-01-01          1   BABY CARE            0    0.0
2  2013-01-01          1      BEAUTY            0    0.0
3  2013-01-01          1   BEVERAGES            0    0.0
4  2013-01-01          1       BOOKS            0    0.0

In [17]:
min_date = train_df['date'].min()
train_df['timestamp'] = (train_df['date'] - min_date).dt.days
train_df = train_df[['date', 'timestamp', 'store_nbr', 'family', 'onpromotion', 'sales']]
train_df.head()

         date  timestamp  store_nbr      family  onpromotion  sales
id
0  2013-01-01          0          1  AUTOMOTIVE            0    0.0
1  2013-01-01          0          1   BABY CARE            0    0.0
2  2013-01-01          0          1      BEAUTY            0    0.0
3  2013-01-01          0          1   BEVERAGES            0    0.0
4  2013-01-01          0          1       BOOKS            0    0.0

In [20]:
train_df = train_df.sort_values(by=['store_nbr', 'family', 'timestamp'])
train_df

              date  timestamp  store_nbr      family  onpromotion  sales
id
0       2013-01-01          0          1  AUTOMOTIVE            0    0.0
1782    2013-01-02          1          1  AUTOMOTIVE            0    2.0
3564    2013-01-03          2          1  AUTOMOTIVE            0    3.0
5346    2013-01-04          3          1  AUTOMOTIVE            0    3.0
7128    2013-01-05          4          1  AUTOMOTIVE            0    5.0
...            ...        ...        ...         ...          ...    ...
2993627 2017-08-11       1683         54     SEAFOOD            0    0.0
2995409 2017-08-12       1684         54     SEAFOOD            1    1.0
2997191 2017-08-13       1685         54     SEAFOOD            0    2.0
2998973 2017-08-14       1686         54     SEAFOOD            0    0.0
3000755 2017-08-15       1687         54     SEAFOOD            0    3.0

[3000888 rows x 6 columns]